
body{
    margin: 0;
}

h1{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family:Georgia;
    font-size: 100px;
}

.subheading{
    display: inline-block;
    font-family:Georgia;
    font-size: 30px;
    position: relative;
    bottom: 330px;
    left: 513px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.top-container{
    background-color: #E4F9F5;
    display: inline-block;
}

.middle-container{
    
}

.bottom-container{

}

.mountain1{
    width: 100%;
    position: relative;
    bottom: 300px;
}

.cloud1{
    width: 50%;
    position: relative;
    right: 80px;
    bottom: 110px;
}
.cloud2{
    width: 40%;
    position: relative;
    bottom: 390px;
}

.name:hover{
    font-family: Georgia;
    color:darkslategray;
}
.github{
    width: 3.5%;
    position: relative;
    bottom: 200px;
    right: 120px;
}
.twitter{
    width: 3.5%;
    position: relative;
    bottom: 200px;
    right: 100px;
}
.insta{
    width: 3.5%;
    position: relative;
    bottom: 257.5px;
    left: 523px;
}