
body{
    margin: 0;
}
@font-face {
    font-family: Valencia;
    src: url(/fonts/Valencia.ttf);
}
@font-face {
    font-family: Allura;
    src: url(/fonts/Allura-Regular.otf);
}
@font-face {
    font-family: Citadel;
    src: url(/fonts/citadel_script.ttf);
}

.top-container{
    background-color: #E4F9F5;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 780px;
    margin: 0%;
}

h1{
    display: inline-block;
    margin: 0px auto 20px auto;
    color: #40514E;
    padding-top: 5%;
    font-family: Georgia;
    font-size : 5.6rem;
}
.name{
    font-size: 5.6rem;
    font-family: Georgia;
}
.container-fluid{
    position: relative;
}
.brandname{
    position: absolute;
    top: 20%;
    color: #40514E;
}
.navigationbar{
    background-color: #E4F9F5;
}
.head{
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    color: #40514E;
    font-family: Georgia;
    font-size: 250%;
}

.mountain1{
    position: absolute;
    width: 1560px;
    top: 250px;
    right: 0px;
}

.cloud1{
    width: 756px;
    position: absolute;
    bottom: 83%;
    opacity:70%;
    left: 50%;
    pointer-events: none;

}
.cloud2{
    width: 604px;
    position: absolute;
    right: 65%;
    bottom: 50%;
    opacity: 65%;

    pointer-events: none;

}

.cloud3{
    position: absolute;
    width: 530px;
    opacity: 75%;
    top: 20%;
    left: 85%;
    pointer-events: none;
}

.name:hover{
    font-family: Georgia;
    color:darkslategray;
}
.github{
    width: 40px;
    position: absolute;
    right: 100px;
    top: 50px;
    opacity: 70%;
}
.twitter{
    width: 40px;
    position: absolute;
    right: 19px;
    top: 50px;
    opacity: 70%;
}
.insta{
    width: 40px;
    position: absolute;
    left: 90px;
    top: 50px;
    opacity: 70%;
}
.hackerrank{
    width: 40px;
    position: absolute;
    left: 90px;
    top: 50px;
    opacity: 70%;
}
.linkedin{
    width: 40px;
    position: absolute;
    left: 15px;
    top: 50px;
    opacity: 70%;
}

.social{
    display: block;
    position: relative;
    width: 0%;
}
.middle-container{
    background-color: #E4F9F5;
    position: relative;
}

.h2{
    display: block;
    margin: 0px auto 20px auto;
    color: #40514E;
    padding-top: 2%;
    font-family: Georgia;
    font-size : 3rem;
}

.dp{
    width: 15%;
    border-radius: 100%;
    margin-top: 3%;
}
.skills{
    position: relative;
}
.status{
    color: #40514E;
    font-family: Georgia;
    font-size: 2rem;
}
.skill-img{
    width: 60px;
    opacity: 70%;
}
.skill-name{
    display: inline-block;  
    padding: 20px 40px 40px 10px; 
}
.html{
    position: relative;
}
.bottom-container{
    background-color: #E4F9F5;
    position: relative;
}
.bar{
    background-color: #E4F9F5;
}
.link{
    color: #40514E;
    font-family: Georgia;
    font-size: 1.5rem;
}

.socialheading{
    color: #002b33;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}
.heading{
    color: #002b33;
    font-family: Georgia;
    font-size: 50px;
    padding: 50px;
}
.row{
    border-style: none;
    border-top-style: dotted ;
    height: 0px;
    width: 100px;
    border-color: grey;
    border-width: 5px;
}